<div class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Created content...</span>
  </div>
</div>

<app-buttons (loginEvent)="showComponent('login')"
             (logoutEvent)="showComponent('welcome')"/>

<app-welcome-content *ngIf="componentToShow == 'welcome'"/>

<app-login-form *ngIf="componentToShow == 'login'"
                (onSubmitLoginEvent)="onLogin($event)"
                (onSubmitRegisterEvent)="onRegister($event)"
/>

<app-auth-content *ngIf="componentToShow == 'messages'"/>


<!--<app-auth-content></app-auth-content>-->
